@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Shrikhand', cursive;
  font-size: 19px;
}

p, span, li, button {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------Import--------------------------*/
/*Couleur maquettes*/
/*Couleur de fond*/
/*Size*/
/*Padding*/
/*Flou*/
/*Breakpoint*/
/*-----------------Boutons
● Au survol, la couleur de fond des boutons principaux devra légèrement s’éclaircir.
L’ombre portée devra également être plus visible.
● À terme, les visiteurs pourront sauvegarder leurs menus préférés. Pour ça, un
bouton "J’aime" en forme de cœur est présent sur la maquette. Au clic, il devra se
remplir progressivement. Pour cette première version, l’effet peut être apparaître au
survol sur desktop au lieu du clic.


-------------------Page d’accueil
● Quand l’application aura plus de menus, un “loading spinner” sera nécessaire. Sur
cette maquette, nous souhaitons en avoir un aperçu. Il devra apparaître pendant 1 à
3 secondes quand on arrive sur la page d'accueil, couvrir l'intégralité de l'écran, et
utiliser les animations CSS (pas de librairie). Le design de ce loader n’est pas défini,
toute proposition est donc la bienvenue tant qu’elle est cohérente avec la charte
graphique du site.


--------------------Pages de menu
● À l’arrivée sur la page, les plats devront apparaître progressivement avec un léger
décalage dans le temps. Ils pourront soit apparaître un par un, soit par groupe
“Entrée”, “Plat” et “Dessert”. Un exemple de l’effet attendu est fourni.
● Le visiteur peut ajouter les plats qu'il souhaite à sa commande en cliquant dessus.
Cela fait apparaître une petite coche à droite du plat. Cette coche devra coulisser de
la droite vers la gauche. Pour cette première version, l’effet peut apparaître au survol
sur desktop au lieu du clic. Si l’intitulé du plat est trop long, il devra être rogné avec
des points de suspension. Un exemple de l’effet attendu est fourni.


*/
header, article, aside, .btn, .gallery-ctn, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  height: 100vh;
  width: auto;
  margin: auto;
  max-width: 1820px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.6fr 0.4fr 1fr 1fr 3fr 0.5fr;
      grid-template-rows: 0.6fr 0.4fr 1fr 1fr 3fr 0.5fr;
      grid-template-areas: "header header header header header header" "article article article article article article" "aside aside aside aside aside aside" "nav nav nav nav nav nav" "main main main main main main" "footer footer footer footer footer footer";
}

.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#ef74da), color-stop(#e756f7), color-stop(#b860d5), to(#aa5edb));
  background: linear-gradient(#ef74da, #e756f7, #b860d5, #aa5edb);
}

/*-----------------------------Header-----------------------------*/
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: header;
  height: 70px;
}

header img {
  max-width: 50%;
}

header .fa-arrow-left {
  position: absolute;
  font-size: 1.3rem;
  left: 15px;
  top: 25px;
}

header a:visited {
  color: black;
}

/*-----------------------------Article-----------------------------*/
article {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: article;
  height: 40px;
  -webkit-box-shadow: inset 0px 4px 4px 0px #c6c6c6;
          box-shadow: inset 0px 4px 4px 0px #c6c6c6;
  background-color: #eaeaea;
}

article .fa-map-marker-alt {
  margin-right: 10px;
}

/*-----------------------------Aside-----------------------------*/
aside {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: aside;
  background-color: #f6f6f6;
  padding: 30px;
}

aside h1, aside p {
  text-align: center;
  margin: 10px 0px 10px;
}

.btn {
  color: #ffff;
}

.btn.btn-primary {
  margin-top: 10px;
  width: 190px;
  height: 40px;
  border-radius: 2rem;
  border: transparent;
  -webkit-box-shadow: 0px 4px 5px 0px #c6c6c6;
          box-shadow: 0px 4px 5px 0px #c6c6c6;
}

.btn:hover {
  -webkit-box-shadow: 0px 6px 7px 0px #c6c6c6;
          box-shadow: 0px 6px 7px 0px #c6c6c6;
}

/*-----------------------------Nav-----------------------------*/
nav {
  padding: 10px;
  background-color: #ffff;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: nav;
}

nav h1 {
  margin-left: 10px;
}

.btn-nav {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  margin: 10px 0px 10px;
  border-radius: 1rem;
  border: transparent;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0px 5px 5px 3px #ebebeb;
          box-shadow: 0px 5px 5px 3px #ebebeb;
}

.btn-nav .fas {
  margin-left: 10%;
  margin-right: 10%;
}

.btn-nav .fa-mobile-alt, .btn-nav .fa-list-ul {
  color: gray;
}

.btn-nav .fa-store {
  color: #9356DC;
}

.btn-nav:hover {
  -webkit-box-shadow: 0px 8px 6px 4px #ebebeb;
          box-shadow: 0px 8px 6px 4px #ebebeb;
  background-color: #f5edff;
}

.nmb {
  position: absolute;
  left: 5px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  font-size: 13px;
  background-color: #9356DC;
  color: #ffff;
}

/*-----------------------------Main-----------------------------*/
main {
  background-color: #FF79DA;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: main;
  padding: 30px 10px;
  margin-top: 20px;
}

.gallery-ctn .gallery-item {
  height: 200px;
  width: 300px;
  margin: 0px 0px 10px;
}

.gallery-ctn .gallery-item a {
  height: 200px;
  width: 300px;
}

.gallery-ctn .gallery-item a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*-----------------------------Footer-----------------------------*/
footer {
  background-color: #05bd05;
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: footer;
}
/*# sourceMappingURL=styles.css.map */