
/*Couleur maquettes*/
$color-primary: #9356DC;	
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-btn:rgb(5, 189, 5);

/*Couleur de fond*/
$white:#ffff;
$grey:#f6f6f6;
$shadow:#ebebeb;
$primary-hover:#f5edff;

/*Size*/
$font-size: 18px;

/*Padding*/
$padding:3rem;

/*Flou*/
$cd-btn-start: rgba(1, 28, 55, 0);
$cd-btn-end: rgba(1, 28, 55, 1);

/*Breakpoint*/
$phone:600px;
$tablette:900px;
$desktop:1440px;